# Compilados
target/
*.class
*.jar
*.war

# Maven
.mvn/
!.mvn/wrapper/maven-wrapper.properties
dependency-reduced-pom.xml

# IDEs
.idea/
*.iml
.vscode/
.settings/
.project
.classpath
nbproject/

# Sistema operativo
.DS_Store
Thumbs.db

# Logs
*.log
